.GCV .pointer-events-none {
  pointer-events: none;
}
.GCV .query, .GCV .outliers, .GCV .plot-label, .GCV .bold {
  font-weight: bold;
}
.GCV .label {
  font-size: 10px;
}
.GCV .block, .GCV .point {
    stroke: #000;
    stroke-width: 1;
}
.GCV .focus {
    stroke: #000;
    stroke-width: 3;
}
.GCV .single {
    stroke: #000;
    stroke-width: 1;
}
.GCV .no_fam {
    stroke: #000;
    stroke-width: 1;
    stroke-dasharray: 1 2;
}
.GCV .line {
    stroke: #000;
}
.GCV .tip {
  fill: black;
  font-family: sans-serif;
  font-size: 10px;
	visibility: hidden;
}
.GCV .rect {
	fill-opacity: 0.0;
	stroke: #000;
}
.GCV .brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.GCV .clear-button {
  font-family: sans-serif;
  font-size: 10px;
}
/* GCV css */
.GCV {
  font-family: sans-serif;
  font-size: 10px;
}
.GCV .axis path,
.GCV .axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}
.GCV text {
    font-family: sans-serif;
    font-size: 10px;
}
.GCV .synteny-tip {
  display: none;
}
.GCV.hovering {
  stroke-opacity: 0.2;
  fill-opacity: 0.2;
}
.GCV.hovering .active {
  stroke-opacity: 1.0;
  fill-opacity: 1.0;
}
.GCV.hovering .active .synteny-tip {
  display: block;
}
iframe.GCV-resizer {
  width: 100%;
  height: 0;
  position: absolute;
  border: none;
  background-color: transparent;
}
.GCV .viewport {
  stroke: #000000;
  fill: #CCCCCC;
  fill-opacity: 0.4;
}
