<html>
<head>
  <title>Genomic Context Viewer</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/context.css">
  <link rel="stylesheet" href="css/hopscotch.css">
</head>
<body ng-app="contextApp">
  <!-- right slider -->
  <div id="right-slider" class="col-md-3">
    <!-- context viewer legend -->
    <div id="legend-wrapper">
      <div class=vertical-scroll>
        <div id="legend">
          <div class="alert alert-info alert-dismissible" role="alert" ng-controller="HelpCtrl as help" ng-init="help.init('legend')" ng-show="help.show">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="help.remove()"><span aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span></button>
            <button type="button" class="close" data-dismiss="alert" aria-label="Got it" ng-click="help.saveRemove()"><span aria-hidden="true"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span></span></button>
            <h4>Gene Family Legend</h4>
            <ul>
              <li>Hover to highlight family's members.</li>
              <li>Click to list members and link to gene tree.</li>
            </ul>
          </div>
          <div id="legend-content"></div>
        </div>
      </div>
    </div>
    <!-- local and global dot plots -->
    <div id="plot" ng-controller="PlotCtrl as plot" ng-show="plot.searching">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav tabs">
              <li><a href="#local-plot" ng-click="plot.local()">Local</a></li>
              <li><a href="#global-plot" id="gloplot" ng-click="plot.global()">Global</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a><span class="glyphicon glyphicon glyphicon-remove pull-right" ng-click="plot.ui.hidePlot()" aria-hidden="true"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="outer-ratio">
        <div id="plot-wrapper" class="inner-ratio">
          <div id="local-plot"></div>
          <div id="global-plot"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- main -->
  <div id="main">
    <!-- top navigation bar -->
    <nav id="top-nav" class="navbar navbar-default navbar-static-top" ng-controller="NavigationCtrl as nav">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://legumeinfo.org/" target="_blank">
            <img alt="Brand" src="img/papillionoid.png">
            <span>LIS - Legume Information System <small>Information about legume traits for crop improvement</small></span>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav tabs" ng-show="nav.ui.sliders">
            <li><button id="parambtn" type="button" class="btn btn-default navbar-btn" ng-click="nav.ui.showParameters()">Parameters</button></li>
            <li><button id="helpbtn" class="btn btn-default navbar-btn" onclick="hopscotch.startTour(tour)" ng-click="nav.ui.clearHelp()">Help</button></li>
            <li><a id="viewer-button" href="#viewer">Viewer</a></li>
            <li ng-show="nav.plots"><a href="#plots">Dot Plots</a></li>
          </ul>
          <div>
            <ul class="nav navbar-nav navbar-right" ng-show="nav.ui.sliders">
              <li><button type="button" class="btn btn-default navbar-btn" ng-click="nav.ui.toggleRightSlider($event)">Legend</button></li>
            </ul>
            <div id="alerts">
              <div class="alert" ng-class="nav.ui.alertClass" role="alert" compile="nav.ui.alertMessage"></div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- context viewer -->
    <div id="viewer">
      <div class="alert alert-info alert-dismissible" role="alert" ng-controller="HelpCtrl as help" ng-init="help.init('viewer')" ng-show="help.show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="help.remove()"><span aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span></button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Got it" ng-click="help.saveRemove()"><span aria-hidden="true"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span></span></button>
        <h4>Genome Contexts</h4>
        <ul>
          <li>Hover gene to see name, highlight in dotplots</li>
          <li>Click gene for links to more info</li>
          <li>Hover track for all gene names</li>
          <li>Click track to list all genes and track options</li>
        </ul>
      </div>
      <div id="viewer-content"></div>
    </div>
    <!-- dot plots -->
    <div id="plots">
      <div class="alert alert-info alert-dismissible" role="alert" ng-controller="HelpCtrl as help" ng-init="help.init('plots')" ng-show="help.show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="help.remove()"><span aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span></button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Got it" ng-click="help.saveRemove()"><span aria-hidden="true"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span></span></button>
        <h4>Context Dot Plots</h4>
        <ul>
          <li>Hover gene to see name, highlight in dotplots</li>
          <li>Click gene for links to more info</li>
          <li>Click plot to load into single viewer</li>
          <li>Click and drag zoom in on a plot</li>
        </ul>
      </div>
      <div id="plots-content"></div>
    </div>
  </div>
  <!-- left slider -->
  <div id="left-slider" class="col-md-3" ng-controller="StateCtrl as state">
    <!-- viewer scrolling and close slider controls -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a>
              <span class="glyphicon glyphicon glyphicon-remove pull-right" ng-click="state.ui.hideLeftSlider($event)" aria-hidden="true"></span>
            </a></li>
          </ul>
          <div id="form-wrapper" ng-show="state.searching">
            <form name="state.form" class="navbar-form navbar-left form-inline">
              <div class="input-group col-lg-12">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="state.scrollLeft()">
                    &nbsp;<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;
                  </button>
                </span>
                <input type="text" class="form-control" placeholder="<= Neighbors" ng-model="state.step" positive-integer required>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="state.scrollRight()">
                    &nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <!-- scollable content -->
    <div id="left-slider-content">
      <!-- context viewer parameters - use ng-show to persist controllers even when out of site -->
      <div id="parameters" ng-show="state.showParameters()">
        <div ng-view></div>
      </div>
      <div ng-hide="state.showParameters()" ng-switch on="state.current">
        <!-- gene clicked dynamic content - use ng-switch because these controllers need not persist when out of sight -->
        <div id="gene" ng-switch-when="gene" ng-controller="GeneCtrl as gene" ng-init="gene.init(state.args)">
          <h4>{{ gene.name }}</h4>
          <p>Family: <a href="/chado_gene_phylotree_v2/{{ gene.family }}?gene_name={{ gene.name }}">{{ gene.family }}</a></p>
          <p><a ng-click="state.search(gene.source, gene.name)">Search for similar contexts</a></p>
          {{ state.links }}
          <ul>
            <li ng-repeat="link in gene.links">
              <a href="{{ link.href }}">{{ link.text }}</a>
            </li>
          </ul>
          <p>{{ links.meta }}</p>
        </div>
        <!-- family clicked dynamic content -->
        <div id="family" ng-switch-when="family" ng-controller="FamilyCtrl as family" ng-init="family.init(state.args)">
          <h4>{{ family.name }}</h4>
          <p><a href="/chado_gene_phylotree_v2/?gene_name={{ family.genes.join(',') }}">View genes in phylogram</a></p>
          <p>Genes:</p>
          <ul>
            <li ng-repeat="gene in family.genes">
              {{ gene.name }}: {{ gene.fmin }} - {{ gene.fmax }}
            </li>
          </ul>
        </div>
        <!-- track clicked dynamic content -->
        <div id="track" ng-switch-when="track" ng-controller="TrackCtrl as track" ng-init="track.init(state.args)">
          <h4>{{ track.species_name }} - {{ track.chromosome_name }}</h4>
          <p><a ng-click="state.search(track.source, track.focus.name)">Search for similar contexts</a></p>
          <p>Genes:</p>
          <ul>
            <li ng-repeat="gene in track.genes">
              {{ gene.name }}: {{ gene.fmin }} - {{ gene.fmax }}
              <ul ng-if="gene.family != ''">
                <li>
                  Family: <a href="/chado_gene_phylotree_v2/{{ gene.family }}?gene_name='{{ gene.name }}">{{ gene.family }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- shared -->
  <script src="js/d3-3.5.6.min.js"></script>
  <script src="js/jquery-2.1.4.min.js"></script>
  <script>
    // hide/show the logo text with logo image mouseover
    $('#top-nav .navbar-brand span').hide();
    $('#top-nav .navbar-brand img').hover(
      function() {
        $('#top-nav .navbar-brand span').animate({width: 'toggle'}, 150);
      },
      function() {
        $('#top-nav .navbar-brand span').animate({width: 'toggle'}, 150);
      }
    );

    // add tab functionality
    $('ul.tabs').each(function() {
      // for each set of tabs, we want to keep track of which tab is active and
      // it's associated content
      var $active, $content, $links = $(this).find('a');
      // if location.hash matches one of the links, use that as the active tab
      // if no match is found, use the first link as the initial active tab
      $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
      $active.closest('li').addClass('active');
      $content = $($active[0].hash);
      // hide the remaining content
      $links.not($active).each(function() {
        $(this.hash).hide();
      });
      // bind the click event handler
      $(this).on('click', 'a', function(e) {
        // make the old tab inactive
        $active.closest('li').removeClass('active');
        $content.hide();
        // update the variables with the new link and content
        $active = $(this);
        $content = $(this.hash);
        // make the tab active.
        $active.closest('li').addClass('active');
        $content.show();
        // prevent the anchor's default click action
        e.preventDefault();
      });
    });

    // load templates
    function loadTemplate(template) {
      $('#viewer-content').load(template);
    }
  </script>
  <!-- viewer -->
  <script src="js/enhancement.js"></script>
  <script src="js/smith.js"></script>
  <script src="js/repeat.js"></script>
  <script src="js/context.js"></script>
  <script src="js/viewer.js"></script>
  <script src="js/legend.js"></script>
  <script src="js/synteny.js"></script>
  <!-- angular -->
  <script src="js/angular-1.4.3.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/angular-storage.min.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
  <!-- hopscotch -->
  <script src="js/hopscotch.js"></script>
  <script src="js/demotour.js"></script>
</body>
</html>
