body, html {
  margin:0;
  padding:0;
  min-width:400px;
  overflow: hidden;
}
.navbar {
  margin-bottom: 0;
}
/* horizontally stretch main to remaining area: http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width */
#main {
  position:relative;
  width:auto;
  height:100%;
  overflow:hidden;
}
#main .navbar button {
  margin-right: 15px;
}
#main #alerts {
  width: auto;
  overflow: hidden;
  padding: 10px 15px;
  height: 50px;
}
#main #alerts .alert {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}
#main #viewer {
  position:absolute;
  top:50px;
  bottom:0;
  overflow-y:auto;
}
.left-slider {
  position:fixed;
  top:50px;
  left:0;
  bottom:0;
  border-right: #E7E7E7 solid 1px;
  /* normal for browsers which cannot support rgba */
  background-color: #F8F8F8;
  /* 70% opacity for supported browsers */
  background-color: rgba(248, 248, 248, 0.7);
  /* IE 5.5+ support #BBF8F8F8 is ~70% opacity on normal */
  filter:progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BBF8F8F8, endColorstr=#BBF8F8F8
  );
  /* IE 8 support */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BBF8F8F8, endColorstr=#BBF8F8F8
  )";
}
#parameters {
  padding: 15px;
  overflow-y: auto;
}
.right-slider {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
  border-left: #E7E7E7 solid 1px;
}
#dashboard {
  display: table;
}
#dashboard .navbar {
  border-top: #E7E7E7 solid 1px;
}
/* vertically stretch legend to remaining area: http://stackoverflow.com/questions/8555820/set-div-to-remaining-height-using-css-with-unknown-height-divs-above-and-below */
#dashboard #legend {
  display: table-row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* add y scrolling to div with dynamical height: http://www.roelvanlisdonk.nl/?p=3854 */
#dashboard #legend .vertical-scroll {
  position:relative;
  height: 100%
}
#dashboard #legend .vertical-scroll .content {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
}
#dashboard #plot {
  display: table-row;
  width: 100%;
}
/* maintain plot ratio: http://stackoverflow.com/questions/17195656/in-fluid-container-can-i-make-elements-as-tall-as-they-are-wide */
#dashboard #plot .outer-ratio {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}
#dashboard #plot .out .inner-ratio {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* vertically and horizontally center spinner */
.grey-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* normal for browsers which cannot support rgba */
  background-color: #FFFFFF;
  /* 70% opacity for supported browsers */
  background-color: rgba(255, 255, 255, 0.7);
  /* IE 5.5+ support #BBFFFFFF is ~70% opacity on normal */
  filter:progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BBFFFFFF, endColorstr=#BBFFFFFF
  );
  /* IE 8 support */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BBFFFFFF, endColorstr=#BBFFFFFF
  )";
  z-index: 100000000;
}
.grey-screen .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
}
.grey-screen .spinner img {
  margin: -16px 0 0 -16px;
}
/* form field errors */
/*input.ng-invalid.ng-touched {
  background-color: #FA787E;
}
input.ng-valid.ng-touched {
  background-color: #78FA89;
}*/
.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}
