<main id="top">
  <header></header>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Genome Context Viewer</h1>
      <p class="lead text-muted">A web-app that visualizes genomic context data provided by third party services in a single, federated interface by using gene-family assignment as a unit of search and comparison.</p>
      <p>
        <a href="#" class="btn btn-primary my-2" (click)="scrollTo($event, '#features')">Get started</a>
        <a href="https://academic.oup.com/bioinformatics/article/34/9/1562/4673199" target="_blank" class="btn btn-outline-primary my-2">Read the paper</a>
        <a href="https://github.com/legumeinfo/lis_context_viewer" target="_blank" class="btn btn-secondary my-2"><span class="fa fa-github"></span> GitHub</a>
      </p>
    </div>
  </section>

  <div class="container">

    <div class="row">
      <div id="tour" class="col-lg-4">
        <h2><span class="fa fa-play"></span> Take the Tour</h2>
        <p>Take an interactive tour and learn about each of the GCV views and the components that compose them.</p>
        <p><a class="btn btn-secondary" href="#" role="button" (click)="startTour($event)">Begin tour &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <h2><span class="fa fa-book"></span> Read the Docs</h2>
        <p>Documentation describing GCV features and use cases in detail are available online.</p>
        <p><a class="btn btn-secondary" href="https://github.com/legumeinfo/lis_context_viewer/wiki" target="_blank" role="button">Start reading &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <h2><span class="fa fa-code"></span> Developer Zone</h2>
        <p>GCV is a federated tool that can consume data from a variety of data providers. Learn how to setup your own GCV data services and configure the user interface.</p>
        <p><a class="btn btn-secondary" href="https://github.com/legumeinfo/lis_context_viewer/wiki" target="_blank" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr id="features" class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 flex-shrink-1">
        <h2 class="featurette-heading">Search View<!-- <span class="text-muted">It'll blow your mind.</span>--></h2>
        <p class="lead">Search across multiple data providers for genomic contexts similar to your query and align the results to the query in a manner that emphasizes structural variation.</p>
        <p class="lead">Put the results into context with chromosome-scale synteny blocks computed on-demand across data providers.</p>
        <p class="lead">And better understand local and global strucuture with pairwise gene-loci dot plots.</p>
      </div>
      <div class="col-md-7 flex-shrink-1">
        <img #searchScreenshot class="featurette-image img-fluid mx-auto" src="{{dashboard.search.img}}" alt="Search view screenshot">
      </div>
      <div id="container"></div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h2 class="featurette-heading">Multi View<!-- <span class="text-muted">See for yourself.</span>--></h2>
        <p class="lead">Retrieve multiple genomic contexts from different data providers, group them based on shared gene-family content, and perform a multiple sequence alignment of each group that emphasizes structural variation.</p>
        <p class="lead">Put the results into context with chromosome-scale synteny blocks computed on-demand across data providers and displayed in a Circos-style viewer.</p>
      </div>
      <div class="col-md-7 order-md-1">
        <img #multiScreenshot class="featurette-image img-fluid mx-auto" src="{{dashboard.multi.img}}" alt="Multi view screenshot">
      </div>
    </div>

    <hr class="featurette-divider" *ngIf="dashboard.examples.length > 0">

    <div class="row featurette" *ngIf="dashboard.examples.length > 0">
      <div class="col-md-12">
        <h2 class="featurette-heading">{{brand.name}} Examples<!-- <span class="text-muted">Checkmate.</span>--></h2>
        <ul>
          <li *ngFor="let example of dashboard.examples" [innerHTML]="example"></li>
        </ul>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" *ngIf="dashboard.examples.length > 0">
      <div class="col-md-12">
        <h2 class="featurette-heading"><span class="fa fa-search"></span> Search Now!<!-- <span class="text-muted">Checkmate.</span>--></h2>
        <p>To get started, enter the name of a gene and select the server that provides it. A genomic context will be made from the gene and the genes that flank it, then similar contexts will be searched for.</p>
        <app-gene-search></app-gene-search>
      </div>
    </div>

    <hr class="featurette-divider">

  </div>

  <footer class="container">
    <p class="float-right"><a href="#" (click)="scrollTo($event, '#top')">Back to top</a></p>
    <p><span class="fa fa-copyright"></span> {{ copyrightYear }} <a href="https://legumeinfo.org/" target="_blank">Legume Information System</a> &middot; <span class="fa fa-osi"></span> <a href="https://github.com/legumeinfo/lis_context_viewer/blob/master/LICENSE" target="_blank">License</a></p>
  </footer>
</main>
