<html>
<head>
  <title>Context Viewer</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/context.css">
  <script src="js/d3-3.5.6.min.js"></script>
  <script src="js/enhancement.js"></script>
  <script src="js/context.js"></script>
  <script src="js/viewer.js"></script>
  <script src="js/legend.js"></script>
  <script src="js/smith.js"></script>
  <script src="js/repeat.js"></script>
  <script src="js/synteny.js"></script>
  <script src="js/angular-1.4.3.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/angular-cookies.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/jquery-2.1.4.min.js"></script>
</head>
<body ng-app="contextApp" ng-controller="UICtrl">
  <div id="right-slider" class="col-md-3">
    <div id="legend-wrapper">
      <div class=vertical-scroll>
        <div id="legend">
        </div>
      </div>
    </div>
    <div id="plot" ng-controller="PlotCtrl" ng-show="searchView">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav tabs">
              <li><a href="#local-plot" ng-click="plotLocal()">Local</a></li>
              <li><a href="#global-plot" ng-click="plotGlobal()">Global</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a>
                <span class="glyphicon glyphicon glyphicon-remove pull-right" ng-click="hidePlot()" aria-hidden="true"></span>
              </a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="outer-ratio">
        <div id="plot-wrapper" class="inner-ratio">
          <div id="local-plot"></div>
          <div id="global-plot"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <nav id="top-nav" class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav tabs">
            <li><button type="button" class="btn btn-default navbar-btn" ng-click="showLeftSlider('#parameters', $event)">Parameters</button></li>
            <li><a id="viewer-button" href="#viewer">Viewer</a></li>
            <li ng-show="searchView"><a href="#plots">Dot Plots</a></li>
            <li><a href="#help">Help</a></li>
          </ul>
          <div>
            <ul class="nav navbar-nav navbar-right">
              <li><button type="button" class="btn btn-default navbar-btn" ng-click="toggleRightSlider($event)">Legend</button></li>
            </ul>
            <div id="alerts">
              <div class="alert" ng-class="alertClass" role="alert" compile="alertMessage"></div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="viewer"></div>
    <div id="plots"></div>
    <div id="help">
      <a href="https://github.com/ncgr/lis_context_viewer/wiki/User-help" target="_blank">View help docs on GitHub</a>
    </div>
  </div>
  <div id="left-slider" class="col-md-3" ng-controller="ViewerCtrl">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a>
              <span class="glyphicon glyphicon glyphicon-remove pull-right" ng-click="hideLeftSlider($event)" aria-hidden="true"></span>
            </a></li>
          </ul>
          <div id="form-wrapper" ng-show="searchView">
          <form class="navbar-form navbar-left form-inline">
            <div class="input-group col-lg-12">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="scrollLeft($event)">
                  &nbsp;<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;
                </button>
              </span>
              <input type="text" class="form-control" placeholder="<= Neighbors" ng-model="step">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="scrollRight($event)">
                  &nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;
                </button>
              </span>
            </div>
          </form>
          </div>
        </div>
      </div>
    </nav>
    <div id="left-slider-content">
      <div id="parameters">
        <form name="form" method="get" ng-submit="submit()" ng-init="init()" novalidate>
          <fieldset>
            <legend>Query Parameters</legend>
            <div class="form-group" show-errors>
              <label>Neighbors</label>
              <input type="number" min="1" name="numNeighbors" class="form-control" ng-model="params.numNeighbors" integer required>
              <span id="helpBlock" class="help-block">A positive integer</span>
            </div>
            <div ng-show="searchView">
            <div class="form-group" show-errors>
              <label>Matched Families</label>
              <input type="number" min="1" name="numMatchedFamilies" class="form-control" ng-model="params.numMatchedFamilies" integer required>
              <span id="helpBlock" class="help-block">A positive integer</span>
            </div>
            <div class="form-group" show-errors>
              <label>Intermediate genes</label>
              <input type="number" min="0" name="numNonFamily" class="form-control" ng-model="params.numNonFamily" integer required>
              <span id="helpBlock" class="help-block">A positive integer or 0</span>
            </div>
            <legend>Alignment Parameters</legend>
            <div class="form-group">
              <label>Algorithm</label>
              <div class="radio" data-ng-repeat="a in algorithms">
              <label>
                  <input
                      name="algorithm"
                      type="radio"
                      value="{{a.id}}"
                      ng-model="params.algorithm" />
                      {{a.name}}
              </label>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label>Match</label>
              <input type="number" name="match" class="form-control" ng-model="params.match" integer required>
              <span id="helpBlock" class="help-block">An integer</span>
            </div>
            <div class="form-group" show-errors>
              <label>Mismatch</label>
              <input type="number" name="mismatch" class="form-control" ng-model="params.mismatch" integer required>
              <span id="helpBlock" class="help-block">An integer</span>
            </div>
            <div class="form-group" show-errors>
              <label>Gap</label>
              <input type="number" name="gap" class="form-control" ng-model="params.gap" integer required>
              <span id="helpBlock" class="help-block">An integer</span>
            </div>
            <div class="form-group" show-errors>
              <label>Threshold</label>
              <input type="number" name="threshold" class="form-control" ng-model="params.threshold" integer required>
              <span id="helpBlock" class="help-block">An integer</span>
            </div>
            <div class="form-group">
              <label>Order</label>
              <select class="form-control"
               ng-options="o.id as o.name for o in orderings"
               ng-model="params.order">
              </select>
            </div>
            </div>
            <button type="submit" class="btn btn-primary col-sm-12">Submit</button>
          </fieldset>
        </form>
        <div ng-view></div>
      </div>
      <div id="gene" ng-controller="GeneCtrl" compile="geneHtml"></div>
      <div id="family" ng-controller="FamilyCtrl" compile="familyHtml"></div>
      <div id="track" ng-controller="TrackCtrl" compile="trackHtml"></div>
    </div>
  </div>
</body>
</html>
