<!-- local and global dot plots -->
<div id="plot" [hidden]="hidden">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav tabs">
          <li [ngClass]="{'active': plot==plotTypes.LOCAL}"><a (click)="showLocal()">Local</a></li>
          <li [ngClass]="{'active': plot==plotTypes.GLOBAL}"><a (click)="showGlobal()">Global</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a><span class="glyphicon glyphicon glyphicon-remove pull-right" aria-hidden="true" (click)="hide()"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="outer-ratio">
    <div id="plot-wrapper" class="inner-ratio" [ngSwitch]="plot">
      <div *ngSwitchCase="plotTypes.LOCAL"><plot></plot></div>
      <div *ngSwitchCase="plotTypes.GLOBAL"><plot></plot></div>
    </div>
  </div>
</div>
