<form name="state.form" class="navbar-form form-inline navbar-right">
  <div class="input-group col-lg-12">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        &nbsp;<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;
      </button>
    </span>
    <input type="text" class="form-control" placeholder="<= Neighbors">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        &nbsp;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;
      </button>
    </span>
  </div>
</form>
