<main>
  <header>
		<ul class="nav navbar-nav tabs">
      <li><parameters-toggle></parameters-toggle></li>
      <li><help></help></li>
      <li><a>Viewer</a></li>
      <li><a>Dot Plots</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><legend-toggle></legend-toggle></li>
    </ul>
  </header>
  search component
  <footer>
    <filter></filter>
    <ordering></ordering>
    <scroll></scroll>
  </footer>
</main>
<left-slider>
  <search-params></search-params>
</left-slider>
<right-slider>
  <local-global-plots></local-global-plots>
</right-slider>
