/* Split.js */
.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}
.split-top {
  border-bottom: 1px solid #E7E7E7;
  overflow-y: auto;
}
.split-bottom {
  border-top: 1px solid #E7E7E7;
  overflow-y: auto;
}
.gutter {
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-vertical {
  background-image: url('../../../assets/img/horizontal.png');
  cursor: row-resize;
}

/* local/global plots */
.plots .navbar {
  border-top: #E7E7E7 solid 1px;
}
/* ratio ensures plot has same width and height */
.plots .outer-ratio {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}
.plots .out .inner-ratio {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
