<right-slider>
  <app-legend class="row vertical-fill"
    [microTracks]="microTracks"
    [args]="legendArgs" >
  </app-legend>
  <local-global-plots class="row"></local-global-plots>
</right-slider>
<main>
  <header>
		<ul class="nav navbar-nav tabs">
      <li><parameters-toggle></parameters-toggle></li>
      <li><help></help></li>
      <li [ngClass]="{'active': content==contentTypes.VIEWERS}"><a (click)="showViewers()">Viewers</a></li>
      <li [ngClass]="{'active': content==contentTypes.PLOTS}"><a (click)="showPlots()">Dot Plots</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><legend-toggle></legend-toggle></li>
    </ul>
  </header>
  <div [ngSwitch]="content">
    <main-content *ngSwitchCase="contentTypes.VIEWERS">
      <div class="split">
        <div #splitTop class="split-top">
          <macro-viewer></macro-viewer>
        </div>
        <div #splitBottom class="split-bottom">
          <micro-viewer [tracks]="microTracks" [args]="microArgs"></micro-viewer>
        </div>
      </div>
    </main-content>
    <main-content *ngSwitchCase="contentTypes.PLOTS">
      <plots [plots]="microPlots"></plots>
    </main-content>
  </div>
  <footer>
    <app-regexp></app-regexp>
    <app-ordering></app-ordering>
    <scroll></scroll>
  </footer>
</main>
<left-slider>
  <search-params></search-params>
</left-slider>
