<app-main>

  <header>
    <ul class="nav navbar-nav tabs" left>
      <li><toggle-button (toggleFn)="selectDetail()">Parameters</toggle-button></li>
    </ul>
    <alert [alert]="headerAlert" center></alert>
    <ul class="navbar-nav ml-2" right>
      <li class="nav-item dropdown" *ngIf="communicate">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  data-display="static" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
          <span class="fas fa-broadcast-tower" aria-hidden="true"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <inter-app-communication></inter-app-communication>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  data-display="static" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/instructions']" target="_blank">Instructions</a>
          <a class="dropdown-item" href="https://github.com/legumeinfo/lis_context_viewer/wiki" target="_blank">Documentation</a>
          <a class="dropdown-item" href="https://academic.oup.com/bioinformatics/article/34/9/1562/4673199" target="_blank">White paper</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://github.com/legumeinfo/lis_context_viewer/issues" target="_blank">Contact developers</a>
        </div>
      </li>
    </ul>
  </header>

  <main-content>
    <div #left id="left" class="split split-horizontal">

      <div #topLeft id="top-left" class="split content">
        <viewer-multi-macro
          [data]="macroTracks"
          [arguments]="macroArgs" >
        </viewer-multi-macro>
        <ng-container #macroAlerts></ng-container>
      </div>

      <div #bottomLeft id="bottom-left" class="split content">
        <viewer-micro
          [data]="microTracks"
          [colors]="microColors"
          [arguments]="microArgs" >
          <ul navbar class="nav navbar-nav accordion">
            <li data-tippy-content="Micro chromosome filter" [ngClass]="{'active': accordion==accordionTypes.REGEXP}">
              <a (click)="setAccordion($event, accordionTypes.REGEXP)">
                &nbsp;<span class="fa fa-filter" aria-hidden="true"></span>&nbsp;
              </a>
            </li>
            <li class="target" [ngClass]="{'active': accordion==accordionTypes.REGEXP}">
              <app-regexp></app-regexp>
            </li>
            <li data-tippy-content="Micro track order" [ngClass]="{'active': accordion==accordionTypes.ORDER}">
              <a (click)="setAccordion($event, accordionTypes.ORDER)">
                &nbsp;<span class="fa fa-sort"></span>&nbsp;
              </a>
            </li>
            <li class="target" [ngClass]="{'active': accordion==accordionTypes.ORDER}">
              <app-ordering></app-ordering>
            </li>
          </ul>
        </viewer-micro>
        <ng-container #microAlerts></ng-container>
      </div>
    </div>

    <div #right id="right" class="split split-horizontal">
      <div #topRight id="top-right" class="split content">
        <div class="legend">
          <viewer-legend
            [data]="macroLegend"
            [colors]="macroColors"
            [arguments]="macroLegendArgs" >
          </viewer-legend>
        </div>
      </div>
      <div #bottomRight id="bottom-right" class="split content">
      <viewer-legend
        [data]="microLegend"
        [colors]="microColors"
        [arguments]="microLegendArgs" >
      </viewer-legend>
      </div>
    </div>

  </main-content>

</app-main>


<left-slider [selected]="selectedDetail" [tracks]="microTracks" (onClose)="hideLeftSlider()">
  <multi-params
    (invalid)="selectDetail()"
    (valid)="hideLeftSlider()" >
  </multi-params>
</left-slider>
