.axis path,
.axis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 10px;
}
.focus {
    stroke: #000;
    stroke-width: 3;
}
.single {
    stroke: #000;
    stroke-width: 1;
}
.no_fam {
    stroke: #000;
    stroke-width: 1;
	stroke-dasharray: 1 2;
}
.line {
    stroke: #000;
}
.tip {
    fill: black;
    font-family: sans-serif;
    font-size: 10px;
	visibility: hidden;
}
.rect {
	fill-opacity: 0.0;
	stroke: #000;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.clear-button {
    font-family: sans-serif;
    font-size: 10px;
}
.legend {
    font-family: sans-serif;
    font-size: 10px;
}
/* GCV css */
.GCV .query {
  font-weight: bold;
}
.GCV .synteny-tip {
  display: none;
}
.GCV.hovering {
  fill-opacity: 0.2;
}
.GCV.hovering .active {
  fill-opacity: 1.0;
}
.GCV.hovering .active .synteny-tip {
  display: block;
}
iframe.GCV-resizer {
  width: 100%;
  height: 0;
  position: absolute;
  border: none;
  background-color: transparent;
}
