.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.split-top {
  border-bottom: 1px solid #C0C0C0;
}
.split-bottom {
  border-top: 1px solid #C0C0C0;
}
.gutter {
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-vertical {
  background-image: url('../img/horizontal.png');
  cursor: row-resize;
}
