body, html {
  margin:0;
  padding:0;
  min-width:400px;
  overflow: hidden;
}

a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  line-height:12px;
  padding-left: 50px;
  padding-top:15px;
  padding-bottom:10px;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar-brand span {
  white-space: nowrap;
  padding-left: 10px;
}
.navbar-brand small {
  display:block;
  font-size:10px;
}
/* horizontally stretch main to remaining area: http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width */
#main {
  position:relative;
  width:auto;
  height:100%;
  overflow:hidden;
}
#main #top-nav button {
  margin-right: 15px;
}
#main #top-nav #alerts {
  width: auto;
  overflow: hidden;
  padding: 10px 15px;
  height: 50px;
}
#main #top-nav #alerts .alert {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}
#main #viewer, #main #plots, #main #help {
  width: 100%;
  position:absolute;
  top:51px;
  bottom:0;
  overflow-x:hidden;
  overflow-y:auto;
}
.alert-dismissible {
  margin: 20px;
}
#left-slider {
  padding: 0;
  position:fixed;
  top:50px;
  left:0;
  bottom:0;
  border-right: #E7E7E7 solid 1px;
  /* normal for browsers which cannot support rgba */
  background-color: #F8F8F8;
  /* 70% opacity for supported browsers */
  background-color: rgba(248, 248, 248, 0.9);
  /* IE 5.5+ support #BBF8F8F8 is ~70% opacity on normal */
  filter:progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BBF8F8F8, endColorstr=#BBF8F8F8
  );
  /* IE 8 support */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BBF8F8F8, endColorstr=#BBF8F8F8
  )";
}
#left-slider nav {
  margin: 1 0 0 0;
}
#left-slider nav #form-wrapper {
  width: auto;
  overflow: hidden;
}
#left-slider nav #form-wrapper form {
  width: 100%;
  padding: 0;
}
#left-slider nav #form-wrapper form .input-group {
  overflow: hidden;
}
#left-slider nav #form-wrapper form .input-group input {
  z-index: 1000;
  text-align: center;
}
#left-slider nav #form-wrapper form .input-group .input-group-btn {
  width: 48px;
}
#left-slider nav #form-wrapper form .input-group button {
  width: 48px;
  cursor: pointer;
}
#left-slider nav .glyphicon-remove {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#left-slider-content {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  overflow-y: auto;
}
#right-slider {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
  border-left: #E7E7E7 solid 1px;
  display: table;
}
#right-slider .navbar {
  border-top: #E7E7E7 solid 1px;
}
/* vertically stretch legend to remaining area: http://stackoverflow.com/questions/8555820/set-div-to-remaining-height-using-css-with-unknown-height-divs-above-and-below */
#right-slider #legend-wrapper {
  display: table-row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* add y scrolling to div with dynamical height: http://www.roelvanlisdonk.nl/?p=3854 */
#right-slider #legend-wrapper .vertical-scroll {
  position:relative;
  height: 100%
}
#right-slider #legend-wrapper .vertical-scroll #legend {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
}
#right-slider #plot {
  display: table-row;
  width: 100%;
}
/* maintain plot ratio: http://stackoverflow.com/questions/17195656/in-fluid-container-can-i-make-elements-as-tall-as-they-are-wide */
#right-slider #plot .outer-ratio {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}
#right-slider #plot .out .inner-ratio {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* vertically and horizontally center spinner */
.grey-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* normal for browsers which cannot support rgba */
  background-color: #FFFFFF;
  /* 70% opacity for supported browsers */
  background-color: rgba(255, 255, 255, 0.7);
  /* IE 5.5+ support #BBFFFFFF is ~70% opacity on normal */
  filter:progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BBFFFFFF, endColorstr=#BBFFFFFF
  );
  /* IE 8 support */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BBFFFFFF, endColorstr=#BBFFFFFF
  )";
  z-index: 100000000;
}
.grey-screen .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
}
.grey-screen .spinner img {
  margin: -16px 0 0 -16px;
}
.form-group .help-block {
  display: none;
}
.form-group.has-error .help-block {
  display: block;
}

#instructions {
  margin: 20px;
}

/* make room for two button in the dismissible alerts */
.alert-dismissible button.close {
  margin-left:10px;
}
