#right-slider {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
  border-left: #E7E7E7 solid 1px;
  display: table;
}
/* vertically stretch .vertical-fill to remaining area: http://stackoverflow.com/questions/8555820/set-div-to-remaining-height-using-css-with-unknown-height-divs-above-and-below */
:host /deep/ .row {
  display: table-row;
  width: 100%;
}
:host /deep/ .vertical-fill {
  height: 100%;
}
