#right-slider {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
  border-left: #E7E7E7 solid 1px;
  display: table;
}
/* vertically stretch .vertical-fill to remaining area */
:host /deep/ .row {
  display: table-row;
  width: 100%;
  margin: 0;
}
:host /deep/ .vertical-fill {
  height: 100%;
}
