<div class="card screenshot border-0" (click)="toggleModal($event)">
  <img class="shadow-sm img-fluid mx-auto" src="assets/img/placeholder.png" alt="{{ alt }}" [gcvLazyLoad]="screenshot.img">
  <div class="card-img-overlay">
      <h1 class="display-1 m-0"><i class="fa-solid fa-expand"></i></h1>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="screenshot-modal" aria-hidden="true" #modal>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ alt }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <img src="assets/img/placeholder.png" alt="{{ alt }}" [gcvLazyLoad]="screenshot.img">
      </div>
      <div class="modal-footer">
        {{ screenshot.caption }}
      </div>
    </div>
  </div>
</div>
