<div id="instructions">
<h1>Welcome, to the Genomic Context Viewer!</h1>
<p>
The Genomic Context Viewer (GCV) is a web-app that visualizes genomic context data provided by third party services, such as the <a target="_blank" href="http://www.legumeinfo.org">Legume Information System</a>.
It allows users to view regions of genomes considered primarily with respect to the ordering and orientation of their annotated gene content.
By handling sequences of gene family memberships as a unit of search and comparison, the user interface is made sufficiently responsive to enable quick assessment of the levels of conservation, novelty, and various types of structural events that can serve to direct the user to more detailed explorations at finer levels of granularity in other tools.
</p>
<h2>Use Cases</h2>
<p>Some use cases should go here</p>
<h2>Examples</h2>
<p>Some compelling examples should go here</p>
<h2>Feedback and features and bugs, oh my!</h2>
<p>GCV is on GitHub: <a target="_blank" href="https://github.com/legumeinfo/lis_context_viewer">https://github.com/legumeinfo/lis_context_viewer</a>. Swing by, if you feel so inclined.</p>
</div>
