<form name="search.form" method="get" ng-submit="search.submit()" ng-init="search.init()" novalidate>
  <fieldset>
    <legend>Query Parameters</legend>
    <div class="form-group" show-errors>
      <label>Neighbors</label>
      <input type="number" min="1" name="numNeighbors" id="neighborpane" class="form-control" ng-model="search.params.numNeighbors" positive-integer required>
      <span id="helpBlock" class="help-block">A positive integer</span>
    </div>
    <div class="form-group" show-errors>
      <label>Matched families</label>
      <input type="number" min="1" name="numMatchedFamilies" class="form-control" ng-model="search.params.numMatchedFamilies" positive-integer required>
      <span id="helpBlock" class="help-block">A positive integer</span>
    </div>
    <div class="form-group" show-errors>
      <label>Intermediate genes</label>
      <input type="number" min="0" name="numNonFamily" class="form-control" ng-model="search.params.numNonFamily" positive-integer-or-zero required>
      <span id="helpBlock" class="help-block">A positive integer or 0</span>
    </div>
    <div id="sources" class="form-group">
      <label>Sources</label>
	  <select multiple class="form-control" name="sources"
        ng-options="s.id as s.name for s in search.sources"
        ng-model="search.params.sources">
      </select>
    </div>
    <legend>Alignment Parameters</legend>
    <div id="algpar" class="form-group">
      <label>Algorithm</label>
      <div class="radio" data-ng-repeat="a in search.algorithms">
        <label>
          <input
              name="algorithm"
              type="radio"
              value="{{ a.id }}"
              ng-model="search.params.algorithm" />
              {{ a.name }}
        </label>
      </div>
    </div>
    <div class="form-group" show-errors>
      <label>Match</label>
      <input type="number" min="1" name="match" class="form-control" ng-model="search.params.match" positive-integer required>
      <span id="helpBlock" class="help-block">A positive integer</span>
    </div>
    <div class="form-group" show-errors>
      <label>Mismatch</label>
      <input type="number" max="-1" name="mismatch" class="form-control" ng-model="search.params.mismatch" negative-integer required>
      <span id="helpBlock" class="help-block">A negative integer</span>
    </div>
    <div class="form-group" show-errors>
      <label>Gap</label>
      <input type="number" max="-1" name="gap" class="form-control" ng-model="search.params.gap" negative-integer required>
      <span id="helpBlock" class="help-block">A negative integer</span>
    </div>
    <div class="form-group" show-errors>
      <label>Score</label>
      <input type="number" min="1" name="score" class="form-control" ng-model="search.params.score" min="1" positive-integer required>
      <span id="helpBlock" class="help-block">A positive integer</span>
    </div>
    <div class="form-group" show-errors>
      <label>Threshold</label>
      <input type="number" min="{{ search.params.match }}" name="threshold" class="form-control" ng-model="search.params.threshold" min="1" positive-integer required ng-disabled="repeat()">
      <span id="helpBlock" class="help-block">Greater than or equal to Match</span>
    </div>
    <legend>Track Parameters</legend>
    <div class="form-group">
      <label>Name filter</label>
      <input type="regexp" name="track_filter" class="form-control" ng-model="search.params.track_regexp">
      <span id="helpBlock" class="help-block">A regular expression</span>
    </div>
    <div id="order" class="form-group">
      <label>Order</label>
      <select class="form-control"
       ng-options="o.id as o.name for o in search.orderings"
       ng-model="search.params.order">
      </select>
    </div>
    <button type="submit" class="btn btn-primary col-sm-12">Submit</button>
  </fieldset>
</form>
