<form name="search.form" method="get" ng-submit="search.submit()" ng-init="search.init()" novalidate>
  <fieldset>
    <legend>Query Parameters<a class="pull-right" ng-click="queryHelp=!queryHelp"><span class="glyphicon glyphicon-question-sign"></span></a></legend>
    <div class="form-group" show-errors ng-class="{'has-help': queryHelp}">
      <label>Neighbors</label>
      <input type="number" min="1" name="numNeighbors" class="form-control" ng-model="search.params.numNeighbors" positive-integer required>
      <span class="help-block"><b>positive integer</b> - The number of genes on either side of the query gene.</span>
    </div>
    <div class="form-group" show-errors ng-class="{'has-help': queryHelp}">
      <label>Matched families</label>
      <input type="number" min="1" name="numMatchedFamilies" class="form-control" ng-model="search.params.numMatchedFamilies" positive-integer required>
      <span class="help-block"><b>positive integer</b> - The minimum number of gene families that must match between the query track and each result track.</span>
    </div>
    <div class="form-group" show-errors ng-class="{'has-help': queryHelp}">
      <label>Intermediate genes</label>
      <input type="number" min="0" name="numNonFamily" class="form-control" ng-model="search.params.numNonFamily" positive-integer-or-zero required>
      <span class="help-block"><b>positive integer</b> - The maximum number of non-matching genes between successive matching genes in a result track.</span>
    </div>
    <div class="form-group" ng-class="{'has-help': queryHelp}">
      <label>Sources</label>
	    <select multiple class="form-control" name="sources"
        ng-options="s.id as s.name for s in search.sources"
        ng-model="search.params.sources">
      </select>
      <span class="help-block">Which databases to load data from.</span>
    </div>
    <legend>Alignment Parameters<a class="pull-right" ng-click="alignmentHelp=!alignmentHelp"><span class="glyphicon glyphicon-question-sign"></span></a></legend>
    <div class="form-group" ng-class="{'has-help': alignmentHelp}">
      <label>Algorithm</label>
      <div class="radio" data-ng-repeat="a in search.algorithms">
        <label>
          <input
              name="algorithm"
              type="radio"
              value="{{ a.id }}"
              ng-model="search.params.algorithm" />
              {{ a.name }}
        </label>
      </div>
      <span class="help-block">The sequence alignment algorithm used to align result tracks to the query track.</span>
    </div>
    <div class="form-group" show-errors ng-class="{'has-help': alignmentHelp}">
      <label>Match</label>
      <input type="number" min="1" name="match" class="form-control" ng-model="search.params.match" positive-integer required>
      <span class="help-block"><b>positive integer</b> - How many points matching a gene family when aligning is worth.</span>
    </div>
    <div class="form-group" show-errors ng-class="{'has-help': alignmentHelp}">
      <label>Mismatch</label>
      <input type="number" max="-1" name="mismatch" class="form-control" ng-model="search.params.mismatch" negative-integer required>
      <span class="help-block"><b>negative integer</b> - The penalty for mismatching gene families when aligning.</span>
    </div>
    <div class="form-group" show-errors ng-class="{'has-help': alignmentHelp}">
      <label>Gap</label>
      <input type="number" max="-1" name="gap" class="form-control" ng-model="search.params.gap" negative-integer required>
      <span class="help-block"><b>negative integer</b> - The penalty for adding a gap when aligning gene families.</span>
    </div>
    <div class="form-group" show-errors ng-class="{'has-help': alignmentHelp}">
      <label>Score</label>
      <input type="number" min="1" name="score" class="form-control" ng-model="search.params.score" min="1" positive-integer required>
      <span class="help-block"><b>positive integer</b> - The minimum score an aligned result track must have to be displayed.</span>
    </div>
    <div class="form-group" show-errors ng-class="{'has-help': alignmentHelp}">
      <label>Threshold</label>
      <input type="number" min="{{ search.params.match }}" name="threshold" class="form-control" ng-model="search.params.threshold" min="1" positive-integer required ng-disabled="repeat()">
      <span class="help-block"><b>>= Match</b> - The minimum score a Repeat segment must have to contribute to the alignment.</span>
    </div>
    <legend>Track Parameters<a class="pull-right" ng-click="trackHelp=!trackHelp"><span class="glyphicon glyphicon-question-sign"></span></a></legend>
    <div class="form-group" ng-class="{'has-help': trackHelp}">
      <label>Name filter</label>
      <input type="regexp" name="track_filter" class="form-control" ng-model="search.params.track_regexp" placeholder="e.g., chromosome1|chromosome2|chromosome32">
      <span class="help-block"><b>regular expression</b> - Filters the result tracks by name.</span>
    </div>
    <div class="form-group" ng-class="{'has-help': trackHelp}">
      <label>Order</label>
      <select class="form-control"
       ng-options="o.id as o.name for o in search.orderings"
       ng-model="search.params.order">
      </select>
      <span class="help-block">How the result tracks are ordered.</span>
    </div>
    <button type="submit" class="btn btn-primary col-sm-12">Submit</button>
  </fieldset>
</form>
