<!-- main content area -->
<main>

  <!-- header -->
  <header>
		<ul class="nav navbar-nav tabs" left>
      <li><toggle-button (toggleFn)="selectParams()">Parameters</toggle-button></li>
      <!--<li><toggle-button (toggleFn)="help()">Help</toggle-button></li>-->
    </ul>
	</header>

  <!-- main content -->
  <main-content>
    <div #left id="left" class="split split-horizontal content">
      <micro-viewer
        [tracks]="microTracks"
        [colors]="microColors"
        [args]="microArgs" >
      </micro-viewer>
    </div>
    <div #right id="right" class="split split-horizontal content">
      <!-- legend -->
      <app-legend class="right"
        [data]="microLegend"
        [colors]="microColors"
        [args]="microLegendArgs" >
      </app-legend>
    </div>
  </main-content>

  <!-- footer -->
  <footer>
    <app-regexp></app-regexp>
  </footer>

</main>


<!-- left slider -->
<left-slider [selected]="selectedDetail" [tracks]="microTracks">
  <basic-params
    [queryGenes]="queryGenes"
    (invalid)="selectParams()"
    (submitted)="invalidate()" >
  </basic-params>
</left-slider>
