.alert {
  margin: 0;
  line-height: 28px;
  padding: 0 10px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.float {
  margin: 15px 15px 0 15px;
}
