/* adapted from https://bootsnipp.com/snippets/y4Qa */

$bootstrap-primary: #007bff;
$bootstrap-primary-hover: #0069d9;
$bootstrap-secondary: #6c757d;
$bootstrap-secondary-hover: #5a6268;
$bootstrap-success: #28a745;
$bootstrap-success-hover: #218838;
$bootstrap-danger: #dc3545;
$bootstrap-danger-hover: #c82333;
$bootstrap-warning: #ffc107;
$bootstrap-warning-hover: #e0a800;
$bootstrap-info: #17a2b8;
$bootstrap-info-hover: #138496;
$bootstrap-light: #f8f9fa;
$bootstrap-light-hover: #e2e6ea;
$bootstrap-dark: #343a40;
$bootstrap-dark-hover: #23272b;

$bootstrap-alert-primary: #cce5ff;
$bootstrap-alert-secondary: #e2e3e5;
$bootstrap-alert-success: #d4edda;
$bootstrap-alert-danger: #f8d7da;
$bootstrap-alert-warning: #fff3cd;
$bootstrap-alert-info: #d1ecf1;
$bootstrap-alert-light: #fefefe;
$bootstrap-alert-dark: #d6d8d9;

$bootstrap-btn-text-light: #fff;
$bootstrap-btn-text-dark: #212529;

$bootstrap-btn-border-size: 1px;
$bootstrap-btn-padding: 0.375rem;
$bootstrap-btn-line-height: 1.5;

$arrow-border-size: $bootstrap-btn-padding + $bootstrap-btn-line-height/2;

/* colored arrow */
.pipeline .btn.pipeline-arrow:not(:last-child):after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  //left: calc(100% - #{$bootstrap-btn-border-size});
  left: 100%;
  border-top: $arrow-border-size solid transparent;
  border-bottom: $arrow-border-size solid transparent;
  border-left: $arrow-border-size solid white;
  z-index: 3;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
/* arrow border */
.pipeline .btn.pipeline-arrow:not(:last-child):before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  margin-left: 1px;
  //left: calc(100% - #{$bootstrap-btn-border-size});
  left: 100%;
  border-top: $arrow-border-size solid transparent;
  border-bottom: $arrow-border-size solid transparent;
  border-left: $arrow-border-size solid $bootstrap-dark;
  z-index: 3;
}

/* buttons */
.pipeline .btn,
.pipeline .btn:hover {
  border: 1px solid $bootstrap-dark;
  cursor: pointer;
}
.pipeline .btn:not(.pipeline-arrow) {
  margin-right: -1px;
}

/* primary button */
.pipeline .btn.pipeline-arrow.btn-primary:not(:last-child) {
  border-right-color: $bootstrap-primary;
}
.pipeline .btn.pipeline-arrow.btn-primary:hover:not(:last-child) {
  border-right-color: $bootstrap-primary-hover;
}
.pipeline .btn.pipeline-arrow.btn-primary:not(:last-child):after {
  border-left-color: $bootstrap-primary;
}
.pipeline .btn.pipeline-arrow.btn-primary:hover:not(:last-child):after {
  border-left-color: $bootstrap-primary-hover;
}
/* secondary button */
.pipeline .btn.pipeline-arrow.btn-secondary:not(:last-child) {
  border-right-color: $bootstrap-secondary;
}
.pipeline .btn.pipeline-arrow.btn-secondary:hover:not(:last-child) {
  border-right-color: $bootstrap-secondary-hover;
}
.pipeline .btn.pipeline-arrow.btn-secondary:not(:last-child):after {
  border-left-color: $bootstrap-secondary;
}
.pipeline .btn.pipeline-arrow.btn-secondary:hover:not(:last-child):after {
  border-left-color: $bootstrap-secondary-hover;
}
/* success button */
.pipeline .btn.pipeline-arrow.btn-success:not(:last-child) {
  border-right-color: $bootstrap-success;
}
.pipeline .btn.pipeline-arrow.btn-success:hover:not(:last-child) {
  border-right-color: $bootstrap-success-hover;
}
.pipeline .btn.pipeline-arrow.btn-success:not(:last-child):after {
  border-left-color: $bootstrap-success;
}
.pipeline .btn.pipeline-arrow.btn-success:hover:not(:last-child):after {
  border-left-color: $bootstrap-success-hover;
}
/* danger button */
.pipeline .btn.pipeline-arrow.btn-danger:not(:last-child) {
  border-right-color: $bootstrap-danger;
}
.pipeline .btn.pipeline-arrow.btn-danger:hover:not(:last-child) {
  border-right-color: $bootstrap-danger-hover;
}
.pipeline .btn.pipeline-arrow.btn-danger:not(:last-child):after {
  border-left-color: $bootstrap-danger;
}
.pipeline .btn.pipeline-arrow.btn-danger:hover:not(:last-child):after {
  border-left-color: $bootstrap-danger-hover;
}
/* warning button */
.pipeline .btn.pipeline-arrow.btn-warning:not(:last-child) {
  border-right-color: $bootstrap-warning;
}
.pipeline .btn.pipeline-arrow.btn-warning:hover:not(:last-child) {
  border-right-color: $bootstrap-warning-hover;
}
.pipeline .btn.pipeline-arrow.btn-warning:not(:last-child):after {
  border-left-color: $bootstrap-warning;
}
.pipeline .btn.pipeline-arrow.btn-warning:hover:not(:last-child):after {
  border-left-color: $bootstrap-warning-hover;
}
/* info button */
.pipeline .btn.pipeline-arrow.btn-info:not(:last-child) {
  border-right-color: $bootstrap-info;
}
.pipeline .btn.pipeline-arrow.btn-info:hover:not(:last-child) {
  border-right-color: $bootstrap-info-hover;
}
.pipeline .btn.pipeline-arrow.btn-info:not(:last-child):after {
  border-left-color: $bootstrap-info;
}
.pipeline .btn.pipeline-arrow.btn-info:hover:not(:last-child):after {
  border-left-color: $bootstrap-info-hover;
}
/* light button */
.pipeline .btn.pipeline-arrow.btn-light:not(:last-child) {
  border-right-color: $bootstrap-light;
}
.pipeline .btn.pipeline-arrow.btn-light:hover:not(:last-child) {
  border-right-color: $bootstrap-light-hover;
}
.pipeline .btn.pipeline-arrow.btn-light:not(:last-child):after {
  border-left-color: $bootstrap-light;
}
.pipeline .btn.pipeline-arrow.btn-light:hover:not(:last-child):after {
  border-left-color: $bootstrap-light-hover;
}
/* dark button */
.pipeline .btn.pipeline-arrow.btn-dark:not(:last-child) {
  border-right-color: $bootstrap-dark;
}
.pipeline .btn.pipeline-arrow.btn-dark:hover:not(:last-child) {
  border-right-color: $bootstrap-dark-hover;
}
.pipeline .btn.pipeline-arrow.btn-dark:not(:last-child):after {
  border-left-color: $bootstrap-dark;
}
.pipeline .btn.pipeline-arrow.btn-dark:hover:not(:last-child):after {
  border-left-color: $bootstrap-dark-hover;
}

/* primary alert */
.pipeline .btn.pipeline-arrow.alert-primary:not(:last-child) {
  border-right-color: $bootstrap-alert-primary;
}
.pipeline .btn.pipeline-arrow.alert-primary:not(:last-child):after {
  border-left-color: $bootstrap-alert-primary;
}
.pipeline .btn.pipeline-arrow.alert-primary:hover {
  color: $bootstrap-btn-text-light;
  background-color: $bootstrap-primary;
}
.pipeline .btn.pipeline-arrow.alert-primary:hover:not(:last-child) {
  border-right-color: $bootstrap-primary;
}
.pipeline .btn.pipeline-arrow.alert-primary:hover:not(:last-child):after {
  border-left-color: $bootstrap-primary;
}
/* secondary alert */
.pipeline .btn.pipeline-arrow.alert-secondary:not(:last-child) {
  border-right-color: $bootstrap-alert-secondary;
}
.pipeline .btn.pipeline-arrow.alert-secondary:not(:last-child):after {
  border-left-color: $bootstrap-alert-secondary;
}
.pipeline .btn.pipeline-arrow.alert-secondary:hover {
  color: $bootstrap-btn-text-light;
  background-color: $bootstrap-secondary;
}
.pipeline .btn.pipeline-arrow.alert-secondary:hover:not(:last-child) {
  border-right-color: $bootstrap-secondary;
}
.pipeline .btn.pipeline-arrow.alert-secondary:hover:not(:last-child):after {
  border-left-color: $bootstrap-secondary;
}
/* success alert */
.pipeline .btn.pipeline-arrow.alert-success:not(:last-child) {
  border-right-color: $bootstrap-alert-success;
}
.pipeline .btn.pipeline-arrow.alert-success:not(:last-child):after {
  border-left-color: $bootstrap-alert-success;
}
.pipeline .btn.pipeline-arrow.alert-success:hover {
  color: $bootstrap-btn-text-light;
  background-color: $bootstrap-success;
}
.pipeline .btn.pipeline-arrow.alert-success:hover:not(:last-child) {
  border-right-color: $bootstrap-success;
}
.pipeline .btn.pipeline-arrow.alert-success:hover:not(:last-child):after {
  border-left-color: $bootstrap-success;
}
/* danger alert */
.pipeline .btn.pipeline-arrow.alert-danger:not(:last-child) {
  border-right-color: $bootstrap-alert-danger;
}
.pipeline .btn.pipeline-arrow.alert-danger:not(:last-child):after {
  border-left-color: $bootstrap-alert-danger;
}
.pipeline .btn.pipeline-arrow.alert-danger:hover {
  color: $bootstrap-btn-text-light;
  background-color: $bootstrap-danger;
}
.pipeline .btn.pipeline-arrow.alert-danger:hover:not(:last-child) {
  border-right-color: $bootstrap-danger;
}
.pipeline .btn.pipeline-arrow.alert-danger:hover:not(:last-child):after {
  border-left-color: $bootstrap-danger;
}
/* warning alert */
.pipeline .btn.pipeline-arrow.alert-warning:not(:last-child) {
  border-right-color: $bootstrap-alert-warning;
}
.pipeline .btn.pipeline-arrow.alert-warning:not(:last-child):after {
  border-left-color: $bootstrap-alert-warning;
}
.pipeline .btn.pipeline-arrow.alert-warning:hover {
  color: $bootstrap-btn-text-dark;
  background-color: $bootstrap-warning;
}
.pipeline .btn.pipeline-arrow.alert-warning:hover:not(:last-child) {
  border-right-color: $bootstrap-warning;
}
.pipeline .btn.pipeline-arrow.alert-warning:hover:not(:last-child):after {
  border-left-color: $bootstrap-warning;
}
/* info alert */
.pipeline .btn.pipeline-arrow.alert-info:not(:last-child) {
  border-right-color: $bootstrap-alert-info;
}
.pipeline .btn.pipeline-arrow.alert-info:not(:last-child):after {
  border-left-color: $bootstrap-alert-info;
}
.pipeline .btn.pipeline-arrow.alert-info:hover {
  color: $bootstrap-btn-text-light;
  background-color: $bootstrap-info;
}
.pipeline .btn.pipeline-arrow.alert-info:hover:not(:last-child) {
  border-right-color: $bootstrap-info;
}
.pipeline .btn.pipeline-arrow.alert-info:hover:not(:last-child):after {
  border-left-color: $bootstrap-info;
}
/* light alert */
.pipeline .btn.pipeline-arrow.alert-light:not(:last-child) {
  border-right-color: $bootstrap-alert-light;
}
.pipeline .btn.pipeline-arrow.alert-light:not(:last-child):after {
  border-left-color: $bootstrap-alert-light;
}
.pipeline .btn.pipeline-arrow.alert-light:hover {
  color: $bootstrap-btn-text-dark;
  background-color: $bootstrap-light;
}
.pipeline .btn.pipeline-arrow.alert-light:hover:not(:last-child) {
  border-right-color: $bootstrap-light;
}
.pipeline .btn.pipeline-arrow.alert-light:hover:not(:last-child):after {
  border-left-color: $bootstrap-light;
}
/* dark alert */
.pipeline .btn.pipeline-arrow.alert-dark:not(:last-child) {
  border-right-color: $bootstrap-alert-dark;
}
.pipeline .btn.pipeline-arrow.alert-dark:not(:last-child):after {
  border-left-color: $bootstrap-alert-dark;
}
.pipeline .btn.pipeline-arrow.alert-dark:hover {
  color: $bootstrap-btn-text-light;
  background-color: $bootstrap-dark;
}
.pipeline .btn.pipeline-arrow.alert-dark:hover:not(:last-child) {
  border-right-color: $bootstrap-dark;
}
.pipeline .btn.pipeline-arrow.alert-dark:hover:not(:last-child):after {
  border-left-color: $bootstrap-dark;
}
