
<main>

  <header>
    <ul class="nav navbar-nav tabs" left>
      <li><toggle-button (toggleFn)="selectParams()">Parameters</toggle-button></li>
      <li [ngClass]="{'active': selectedContent==contentTypes.VIEWERS}">
        <a (click)="showViewers()">Viewers</a>
      </li>
      <li [ngClass]="{'active': selectedContent==contentTypes.PLOTS}">
        <a (click)="showPlots()">Dot Plots</a>
      </li>
    </ul>
    <alert [alert]="headerAlert" center></alert>
  </header>

  <main-content [hidden]="selectedContent!==contentTypes.VIEWERS">
    <div #left id="left" class="split split-horizontal">

      <div #topLeft id="top-left" class="split content">
        <viewer-macro
          [data]="macroTracks"
          [arguments]="macroArgs" >
          <li dropdown><form>
            <div class="checkbox">
              <label>
                <input type="checkbox" [checked]="macroConfig.order" (change)="toggleMacroOrder()"> Micro-synteny ordering
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [checked]="macroConfig.filter" (change)="toggleMacroFilter()"> Micro-synteny only
              </label>
            </div>
          </form></li>
        </viewer-macro>
        <ng-container #macroAlerts></ng-container>
      </div>

      <div #bottomLeft id="bottom-left" class="split content">
        <viewer-micro
          [data]="microTracks"
          [colors]="microColors"
          [arguments]="microArgs" >
          <ul navbar class="nav navbar-nav accordion">
            <li [ngClass]="{'active': accordion==accordionTypes.SEARCH}">
              <a (click)="setAccordion($event, accordionTypes.SEARCH)">
              &nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;
              </a>
            </li>
            <li class="target" [ngClass]="{'active': accordion==accordionTypes.SEARCH}">
              <app-gene-search></app-gene-search>
            </li>
            <li [ngClass]="{'active': accordion==accordionTypes.REGEXP}">
              <a (click)="setAccordion($event, accordionTypes.REGEXP)">
              &nbsp;<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>&nbsp;
              </a>
            </li>
            <li class="target" [ngClass]="{'active': accordion==accordionTypes.REGEXP}">
              <app-regexp></app-regexp>
            </li>
            <li [ngClass]="{'active': accordion==accordionTypes.ORDER}">
              <a (click)="setAccordion($event, accordionTypes.ORDER)">
              &nbsp;<span class="glyphicon glyphicon-triangle-bottom"></span><span class="glyphicon glyphicon-triangle-top"></span>&nbsp;
              </a>
            </li>
            <li class="target" [ngClass]="{'active': accordion==accordionTypes.ORDER}">
              <app-ordering></app-ordering>
            </li>
            <li [ngClass]="{'active': accordion==accordionTypes.SCROLL}">
              <a (click)="setAccordion($event, accordionTypes.SCROLL)">
              &nbsp;<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;
              </a>
            </li>
            <li class="target" [ngClass]="{'active': accordion==accordionTypes.SCROLL}">
              <scroll></scroll>
            </li>
          </ul>
        </viewer-micro>
        <ng-container #microAlerts></ng-container>
      </div>
    </div>

    <div #right id="right" class="split split-horizontal">
      <div #topRight id="top-right" class="split content">
        <div class="legend">
          <viewer-legend
            [data]="macroLegend"
            [colors]="macroColors"
            [arguments]="macroLegendArgs" >
          </viewer-legend>
        </div>
      </div>
      <div #bottomRight id="bottom-right" class="split content">
        <div class="legend">
          <div class="vertical-fill">
            <viewer-legend
              [data]="microLegend"
              [colors]="microColors"
              [arguments]="microLegendArgs" >
            </viewer-legend>
          </div>
          <div class="local-global-plots" [hidden]="!showLocalGlobalPlots">
            <div class="outer-ratio">
              <div class="inner-ratio">
                <viewer-plot [hidden]="selectedPlot!==plotTypes.LOCAL"
                  [data]="selectedLocalPlot"
                  [colors]="microColors"
                  [arguments]="plotArgs" >
                  <ul class="nav navbar-nav tabs" navbar>
                    <li [ngClass]="{'active': selectedPlot==plotTypes.LOCAL}">
                      <a (click)="showLocalPlot()">Local</a>
                    </li>
                    <li [ngClass]="{'active': selectedPlot==plotTypes.GLOBAL}">
                      <a (click)="showGlobalPlot()">Global</a>
                    </li>
                  </ul>
                  <li navright>
                    <a><span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="hideLocalGlobalPlots()"></span></a>
                  </li>
                </viewer-plot>
                <viewer-plot [hidden]="selectedPlot!==plotTypes.GLOBAL"
                  [data]="selectedGlobalPlot"
                  [colors]="microColors"
                  [arguments]="plotArgs" >
                  <ul class="nav navbar-nav tabs" navbar>
                    <li [ngClass]="{'active': selectedPlot==plotTypes.LOCAL}">
                      <a (click)="showLocalPlot()">Local</a>
                    </li>
                    <li [ngClass]="{'active': selectedPlot==plotTypes.GLOBAL}">
                      <a (click)="showGlobalPlot()">Global</a>
                    </li>
                  </ul>
                  <li navright>
                    <a><span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="hideLocalGlobalPlots()"></span></a>
                  </li>
                  <ng-container #plotAlerts overlay></ng-container>
                </viewer-plot>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main-content>

  <main-content [hidden]="selectedContent!==contentTypes.PLOTS">
    <div class="plots" (scroll)="drawPlots()">
      <div class="plot col-sm-6 col-md-4" *ngFor="let p of microPlots">
        <viewer-plot
          [data]="p"
          [colors]="microColors"
          [arguments]="plotArgs"
          [visibleDraw]="true" >
        </viewer-plot>
      </div>
    </div>
  </main-content>

</main>

<left-slider [selected]="selectedDetail" [tracks]="microTracks">
  <search-params
    (invalid)="selectParams()"
    (valid)="hideLeftSlider()" >
  </search-params>
</left-slider>
