<app-main>

  <header>
    <alert [alert]="headerAlert" center></alert>
    <ul class="navbar-nav mr-2" left>
      <li class="nav-item active">
        <toggle-button id="parameters-button" (toggleFn)="selectDetail()">Parameters</toggle-button>
      </li>
      <li class="nav-item" [ngClass]="{'active': selectedContent==contentTypes.VIEWERS}">
        <a class="nav-link" (click)="showViewers()">Viewers</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': selectedContent==contentTypes.PLOTS}">
        <a class="nav-link" (click)="showPlots()">Dot Plots</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-2" right>
      <li class="nav-item dropdown" *ngIf="communicate">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  data-display="static" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
          <span class="fas fa-broadcast-tower" aria-hidden="true"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="padding-top: 0;">
          <inter-app-communication></inter-app-communication>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  data-display="static" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/instructions']" target="_blank">Instructions</a>
          <a class="dropdown-item" href="https://github.com/legumeinfo/lis_context_viewer/wiki" target="_blank">Documentation</a>
          <a class="dropdown-item" href="https://academic.oup.com/bioinformatics/article/34/9/1562/4673199" target="_blank">White paper</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://github.com/legumeinfo/lis_context_viewer/issues" target="_blank">Contact developers</a>
        </div>
      </li>
    </ul>
  </header>

  <main-content [hidden]="selectedContent!==contentTypes.VIEWERS">
    <div #left id="left" class="split split-horizontal">

      <div #topLeft id="macro-synteny" class="split content">
        <viewer-macro
          [data]="macroTracks"
          [arguments]="macroArgs" >
          <li dropdown><form>
            <div class="checkbox">
              <label>
                <input type="checkbox" [checked]="macroConfig.order" (change)="toggleMacroOrder()"> Micro-synteny ordering
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" [checked]="macroConfig.filter" (change)="toggleMacroFilter()"> Micro-synteny only
              </label>
            </div>
          </form></li>
        </viewer-macro>
        <ng-container #macroAlerts></ng-container>
      </div>

      <div #bottomLeft id="micro-synteny" class="split content">
        <viewer-micro
          [data]="microTracks"
          [colors]="microColors"
          [arguments]="microArgs" >
          <ul navbar class="nav navbar-nav accordion">
            <li data-tippy-content="Gene/span search" [ngClass]="{'active': accordion==accordionTypes.SEARCH}">
              <a class="gene-search-link" (click)="setAccordion($event, accordionTypes.SEARCH)">
              &nbsp;<span class="fa fa-search" aria-hidden="true"></span>&nbsp;
              </a>
            </li>
            <li class="target" [ngClass]="{'active': accordion==accordionTypes.SEARCH}">
              <app-search-bar></app-search-bar>
            </li>
            <li data-tippy-content="Micro chromosome filter" [ngClass]="{'active': accordion==accordionTypes.REGEXP}">
              <a class="track-regexp-link" (click)="setAccordion($event, accordionTypes.REGEXP)">
              &nbsp;<span class="fa fa-filter" aria-hidden="true"></span>&nbsp;
              </a>
            </li>
            <li class="target" [ngClass]="{'active': accordion==accordionTypes.REGEXP}">
              <app-regexp></app-regexp>
            </li>
            <li data-tippy-content="Micro track order" [ngClass]="{'active': accordion==accordionTypes.ORDER}">
              <a class="track-order-link" (click)="setAccordion($event, accordionTypes.ORDER)">
              &nbsp;<span class="fa fa-sort"></span>&nbsp;
              </a>
            </li>
            <li class="target" [ngClass]="{'active': accordion==accordionTypes.ORDER}">
              <app-ordering></app-ordering>
            </li>
            <li data-tippy-content="Scroll left/right on micro query" [ngClass]="{'active': accordion==accordionTypes.SCROLL}">
              <a (click)="setAccordion($event, accordionTypes.SCROLL)">
              &nbsp;<span class="fa fa-chevron-left" aria-hidden="true"></span>
              <span class="fa fa-chevron-right" aria-hidden="true"></span>&nbsp;
              </a>
            </li>
            <li class="target" [ngClass]="{'active': accordion==accordionTypes.SCROLL}">
              <scroll></scroll>
            </li>
          </ul>
        </viewer-micro>
        <ng-container #microAlerts></ng-container>
      </div>
    </div>

    <div #right id="right" class="split split-horizontal">
      <div #topRight id="macro-legend" class="split content">
        <div class="legend">
          <viewer-legend
            [data]="macroLegend"
            [colors]="macroColors"
            [arguments]="macroLegendArgs" >
          </viewer-legend>
        </div>
      </div>
      <div #bottomRight id="micro-legend" class="split content">
        <div class="legend">
          <div class="vertical-fill">
            <viewer-legend
              [data]="microLegend"
              [colors]="microColors"
              [arguments]="microLegendArgs" >
            </viewer-legend>
          </div>
          <div id="local-global-dot-plots" class="local-global-plots" [hidden]="!showLocalGlobalPlots">
            <div class="outer-ratio">
              <div class="inner-ratio">
                <viewer-plot id="local-dot-plot" [hidden]="selectedPlot!==plotTypes.LOCAL"
                  [data]="selectedLocalPlot"
                  [colors]="microColors"
                  [arguments]="plotArgs" >
                  <ul class="navbar-nav" navbar>
                    <li class="nav-item active">
                      <a class="nav-link local-link" (click)="showLocalPlot()">Local</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link global-link" (click)="showGlobalPlot()">Global</a>
                    </li>
                  </ul>
                  <li class="nav-item" navright>
                    <a class="nav-link">
                      <span class="fas fa-times" aria-hidden="true" (click)="hideLocalGlobalPlots()"></span>
                    </a>
                  </li>
                </viewer-plot>
                <viewer-plot id="global-dot-plot" [hidden]="selectedPlot!==plotTypes.GLOBAL"
                  [data]="selectedGlobalPlot"
                  [colors]="microColors"
                  [arguments]="plotArgs" >
                  <ul class="navbar-nav" navbar>
                    <li class="nav-item">
                      <a class="nav-link local-link" (click)="showLocalPlot()">Local</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link global-link" (click)="showGlobalPlot()">Global</a>
                    </li>
                  </ul>
                  <li class="nav-item" navright>
                    <a class="nav-link">
                      <span class="fas fa-times" aria-hidden="true" (click)="hideLocalGlobalPlots()"></span>
                    </a>
                  </li>
                  <ng-container #plotAlerts overlay></ng-container>
                </viewer-plot>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main-content>

  <main-content [hidden]="selectedContent!==contentTypes.PLOTS">
    <div class="row plots" (scroll)="drawPlots()">
      <div class="plot col-sm-6 col-md-4" *ngFor="let p of microPlots">
        <viewer-plot
          [data]="p"
          [colors]="microColors"
          [arguments]="plotArgs"
          [visibleDraw]="true" >
        </viewer-plot>
      </div>
    </div>
  </main-content>

</app-main>

<left-slider [selected]="selectedDetail" [tracks]="microTracks" (onClose)="hideLeftSlider()">
  <search-params
    (invalid)="selectDetail()"
    (valid)="hideLeftSlider()" >
  </search-params>
</left-slider>
