.alert {
  margin: 0;
  line-height: 28px;
  padding: 0 10px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.float {
  margin: 15px 15px 0 15px;
}
/*
.alert-dismissable .close, .alert-dismissible .close {
  top: unset;
  right: unset;
}
*/
.alert img {
  height: 20px;
  width: auto;
}
