.navbar {
  min-height:28px;
  height: 28px;
  padding-right: 3px;
}
.navbar .navbar-brand {
  padding: 0px 12px;
  font-size: 16px;
  line-height: 28px;
  height: 28px;
}
.navbar .navbar-nav > li > a,
::ng-deep .navbar .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 27px;
}
.navbar .navbar-nav.navbar-right > li > a,
::ng-deep .navbar .navbar-nav.navbar-right > li > a {
  padding-left: 2px;
  padding-right: 2px;
}
.navbar .navbar-nav.navbar-right > li > a::after,
::ng-deep .navbar .navbar-nav.navbar-right > li > a::after,
.navbar .navbar-nav.navbar-right > li > a::before,
::ng-deep .navbar .navbar-nav.navbar-right > li > a::before {
  content: "\00a0";
}
.dropdown-menu {
  min-width: 200px;
}
.navbar .navbar-content {
  width: auto;
  overflow: hidden;
  height: 28px;
}
::content > li { }
::ng-deep .navbar form {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
::ng-deep .navbar .accordion form {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}
::ng-deep .navbar .accordion form .form-control {
  height: 28px;
}
::ng-deep .navbar .accordion form button {
  padding-top: 3px;
  padding-bottom: 3px;
}
