<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">{{title}}</a>  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ng-content select="[navbar]"></ng-content>
    </ul>
    <ul class="navbar-nav ml-auto">      <li class="nav-item dropdown" [hidden]="!showDropdown()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" #dropdown>
          <a class="dropdown-item native" (click)="imageClick()"><span class="fa fa-camera float-right" aria-hidden="true"></span>Screenshot</a>
          <a class="dropdown-item native" (click)="dataClick()"><span class="fa fa-arrow-down float-right" aria-hidden="true"></span>Download data</a>
          <div class="dropdown-divider" [hidden]="!showSeparator()"></div>
          <ng-content select="[dropdown]"></ng-content>
        </div>
      </li>
      <ng-content select="[navright]"></ng-content>
    </ul>
  </div>
</nav>
