.navbar {
  margin-bottom: 0;
  border: none;
}
.navbar-brand {
  line-height: 12px;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar-brand span {
  white-space: nowrap;
  padding-left: 10px;
}
.navbar-brand small {
  display: block;
  font-size: 10px;
}
.center {
  width: auto;
  overflow: hidden;
  padding: 10px 15px;
  height: 50px;
}
