.left-slider {
  z-index: 10000 !important;
  padding: 0;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  border-right: #E7E7E7 solid 1px;
  /* normal for browsers which cannot support rgba */
  background-color: #F8F8F8;
  /* 70% opacity for supported browsers */
  background-color: rgba(248, 248, 248, 0.9);
  /* IE 5.5+ support #BBF8F8F8 is ~70% opacity on normal */
  filter:progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BBF8F8F8, endColorstr=#BBF8F8F8
  );
  /* IE 8 support */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#BBF8F8F8, endColorstr=#BBF8F8F8
  )";
}
.left-slider .navbar {
  margin: 1 0 0 0;
}
.left-slider .navbar .glyphicon-remove {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.left-slider .left-slider-content {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  overflow-y: auto;
}
