form {
  position: relative;
}
select.dropdown-menu.form-control {
  width: 100%;
}
/* override the .form-control class display attribute so the select dropdown is
   hidden when it doesn't have the .show class */
select.dropdown-menu.form-control:not(.show) {
  display: none;
}
