/* legend */
#bottom-right {
  overflow: hidden;
}
.legend {
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.vertical-fill {
  -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1; /* OLD - Firefox 19- */
  -webkit-flex: 1; /* Chrome */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* NEW, */
  overflow: auto;
}
.right {
  float: right;
}

/* plots */
.plots {
  height: 100%;
  overflow-y: scroll;
}
.plots .plot {
  margin-top: 20px;
}

/* local/global plots */
.local-global-plots .navbar {
  border-top: #E7E7E7 solid 1px;
}
/* ratio ensures plot has same width and height */
.local-global-plots .outer-ratio {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}
.local-global-plots .out .inner-ratio {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
