<!-- main content area -->
<main>

  <!-- header -->
  <header>
		<ul class="nav navbar-nav tabs" left>
      <li><toggle-button (toggleFn)="selectParams()">Parameters</toggle-button></li>
      <!--<li><toggle-button (toggleFn)="help()">Help</toggle-button></li>-->
      <li [ngClass]="{'active': selectedContent==contentTypes.VIEWERS}">
        <a (click)="showViewers()">Viewers</a>
      </li>
      <li [ngClass]="{'active': selectedContent==contentTypes.PLOTS}">
        <a (click)="showPlots()">Dot Plots</a>
      </li>
    </ul>
  </header>

  <!-- main content -->
  <div [ngSwitch]="selectedContent">

    <!-- micro/macro viewers -->
    <main-content *ngSwitchCase="contentTypes.VIEWERS">
      <div #left id="left" class="split split-horizontal">
        <div #topLeft id="top-left" class="split content">
					<macro-viewer
            [tracks]="macroTracks"
            [args]="macroArgs" >
					</macro-viewer>
				</div>
        <div #bottomLeft id="bottom-left" class="split content">
					<micro-viewer
            [tracks]="microTracks"
            [colors]="microColors"
            [args]="microArgs" >
					</micro-viewer>
				</div>
      </div>
      <div #right id="right" class="split split-horizontal">
        <div #topRight id="top-right" class="split content">
          <div  class="vertical-fill">
  				  <app-legend class="right"
  				    [data]="macroLegend"
  				    [colors]="macroColors"
  				    [args]="macroLegendArgs" >
  				  </app-legend>
          </div>
        </div>
        <div #bottomRight id="bottom-right" class="split content">
  				<!-- micro legend -->
          <div class="legend">
            <div  class="vertical-fill">
  				    <app-legend class="right"
  				      [data]="microLegend"
  				      [colors]="microColors"
  				      [args]="microLegendArgs" >
  				    </app-legend>
            </div>
  				  <!-- local and global dot plots -->
  				  <div class="local-global-plots" *ngIf="showLocalGlobalPlots">
  				    <div class="navbar navbar-default navbar-static-top">
  				      <div class="container-fluid">
  				        <div class="navbar-header">
  				          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
  				            <span class="sr-only">Toggle navigation</span>
  				            <span class="icon-bar"></span>
  				            <span class="icon-bar"></span>
  				          </button>
  				        </div>
  				        <div class="collapse navbar-collapse">
  				          <ul class="nav navbar-nav tabs">
  				            <li [ngClass]="{'active': selectedPlot==plotTypes.LOCAL}">
  				              <a (click)="showLocalPlot()">Local</a>
  				            </li>
  				            <li [ngClass]="{'active': selectedPlot==plotTypes.GLOBAL}">
  				              <a (click)="showGlobalPlot()">Global</a>
  				            </li>
  				          </ul>
  				          <ul class="nav navbar-nav navbar-right">
  				            <li>
  				              <a><span class="glyphicon glyphicon glyphicon-remove pull-right" aria-hidden="true" (click)="hideLocalGlobalPlots()"></span></a>
  				            </li>
  				          </ul>
  				        </div>
  				      </div>
  				    </div>
  				    <div class="outer-ratio">
  				      <div class="inner-ratio" [ngSwitch]="selectedPlot">
  				        <plot *ngSwitchCase="plotTypes.LOCAL"
  				          [plot]="selectedLocal"
  				          [colors]="microColors"
  				          [args]="plotArgs" >
  				        </plot>
  				        <plot *ngSwitchCase="plotTypes.GLOBAL"
  				          [plot]="selectedGlobal"
  				          [colors]="microColors"
  				          [args]="plotArgs" >
  				        </plot>
  				      </div>
  				    </div>
					  </div>
          </div>
				</div>
      </div>
    </main-content>

    <!-- all local plots -->
    <main-content *ngSwitchCase="contentTypes.PLOTS">
      <div class="plots" (scroll)="drawPlots()">
        <div class="plot col-sm-6 col-md-4" *ngFor="let p of microPlots">
          <plot
            [plot]="p"
            [colors]="microColors"
            [args]="plotArgs"
            [visibleDraw]="true" >
          </plot>
        </div>
      </div>
    </main-content>

  </div>

  <!-- footer -->
  <footer>
    <app-regexp></app-regexp>
    <app-ordering></app-ordering>
    <scroll [gene]="routeGene" [query]="queryGenes"></scroll>
  </footer>

</main>


<!-- left slider -->
<left-slider [selected]="selectedDetail" [tracks]="microTracks">
  <search-params
    [source]="routeSource"
    [gene]="routeGene"
    (invalid)="selectParams()"
    (submitted)="invalidate()" >
  </search-params>
</left-slider>
