<!-- left slider -->
<div id="left-slider" class="left-slider col-md-3" [@toggleSlider]='state|async'>
  <!-- close slider controls -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="close()">
            <i class="fas fa-times"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- scrollable content -->
  <div class="left-slider-content">
    <div [ngSwitch]="content|async">
      <gcv-params *ngSwitchCase="'parameters'" (valid)="close()" (invalid)="open()"></gcv-params>
      <gcv-filters *ngSwitchCase="'filters'"></gcv-filters>
      <div *ngSwitchDefault>No content selected</div>
    </div>
  </div>
</div>
