button.btn:focus {
  box-shadow: none;
}
.searchbar input[type="text"] {
  border-width: 0px;
  padding: 0px;
  width: 0px;
  transition: border-width 0.3s ease, padding 0.3s ease, width 0.3s ease;
}
.searchbar.active input[type="text"] {
  border-width: 1px;
  padding: 0.375rem 0.75rem;
  width: 250px;
  transition: border-width 0.5s 0.2s ease, padding 0.5s 0.2s ease, width 0.5s 0.2s ease;
}
.searchbar button.dropdown-toggle {
  border-width: 0px;
  width: 0px;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: border-width 0.3s ease, width 0.3s ease, padding-right 0.3s ease, padding-left 0.3s ease;
}
.searchbar.active button.dropdown-toggle {
  border-width: 1px;
  width: 29px;
  padding-right: 0.5625rem;
  padding-left: 0.5625rem;
  transition: border-width 0.5s 0.2s ease, width 0.5s 0.2s ease, padding-right 0.5s 0.2s ease, padding-left 0.5s 0.2s ease;
}
.searchbar button[type="submit"] {
  border: 0px;
  padding: 0px;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  transition: border 0.3s ease, padding 0.3s ease, width 0.3s ease;
}
.searchbar.active button[type="submit"] {
  border: 1px;
  padding: 0.375rem 0.75rem;
  width: 77px;
  transition: border 0.5s 0.2s ease, padding 0.5s 0.2s ease, width 0.5s 0.2s ease;
}
