<form (ngSubmit)="submit()" #searchForm="ngForm">
  <div class="input-group">
    <input type="text" class="form-control" id="query-search" name="query" placeholder="Enter a gene name" 
      [(ngModel)]="model.query"
      #search="ngModel">
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <select multiple class="form-control dropdown-menu" name="sources"
        (click)="$event.stopPropagation()"
        [(ngModel)]="model.sources">
        <option *ngFor="let src of sources" [value]="src.id">{{src.name}}</option>
      </select>
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </div>
  <small class="form-text text-muted" *ngIf="helpText" [innerHTML]="helpText"></small>
</form>
