<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ng-content select="[navbar]"></ng-content>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" *ngIf="showDropdown()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
            <li *ngIf="saveImage.observers.length">
              <a (click)="imageClick()">Screenshot<span class="glyphicon glyphicon-camera pull-right" aria-hidden="true"></span></a>
            </li>
            <li *ngIf="saveData.observers.length">
              <a (click)="dataClick()">Download data<span class="glyphicon glyphicon-arrow-down pull-right" aria-hidden="true"></span></a>
            </li>
            <li role="separator" class="divider" *ngIf="showSeparator()"></li>
            <ng-content select="[dropdown]"></ng-content>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
