<main>
  <section class="py-5">
    <div class="container">

      <div class="row">
        <p class="p-0">Showing results for <b>"{{ query|async }}"</b></p>
      </div>

      <form class="row mb-3" (ngSubmit)="viewGenes()" #viewForm="ngForm">
        <div class="col-auto flex-grow-1">
          <div class="row">
            <label class="col-auto col-form-label" for="neighbors">Neighbors</label>
            <div class="col ps-0">
              <input type="text" class="form-control" id="neighbors" name="neighbors" [(ngModel)]="model.neighbors">
            </div>
          </div>
        </div>
        <div class="col-auto ps-0">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="sources" data-bs-toggle="dropdown" aria-expanded="false">
            Sources
          </button>
          <select class="dropdown-menu dropdown-menu-end" multiple name="sources"
            (click)="$event.stopPropagation()"
            [(ngModel)]="model.sources">
            <option *ngFor="let src of sources" [value]="src.id">{{src.name}}</option>
          </select>
        </div>
        <div class="col-auto ps-0">
          <button type="submit" class="btn btn-primary" [disabled]="!canSubmit()">View selected genes</button>
        </div>
      </form>

      <div class="row">
        <p class="p-0">{{ (resultGenes|async).length }} gene<ng-container *ngIf="(resultGenes|async).length != 1">s</ng-container> returned</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Select</th>
              <th scope="col">Gene Name</th>
              <th scope="col">Source</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gene of resultGenes|async">
              <td>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" (change)="toggleGene($event, gene.name, gene.source)">
                </div>
              </td>
              <td>
                <a [routerLink]="['/gene', geneSourceToRouterGeneMatrix(gene.name, gene.source)]" [queryParams]="{}">{{ gene.name }}</a>
              </td>
              <td>{{ getServerName(gene.source) }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        {{ (resultRegions|async).length }} region<ng-container *ngIf="(resultRegions|async).length != 1">s</ng-container> returned
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Focus Gene Name (Neighbors)</th>
              <th scope="col">Source</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let region of resultRegions|async">
              <td>
                <a [routerLink]="['/gene', geneSourceToRouterGeneMatrix(region.gene, region.source)]" [queryParams]="{neighbors: region.neighbors}">{{ region.gene }} ({{ region.neighbors }})</a>
              </td>
              <td>{{ getServerName(region.source) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
