<main>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <p>Showing results for <b>"{{ query|async }}"</b></p>
      </div>
      <form class="form-inline mb-2" (ngSubmit)="viewGenes()" #viewForm="ngForm">
        <div class="form-group flex-grow-1">
          <label class="mr-2" for="neighbors">Neighbors</label>
          <input type="text" class="form-control mr-2 flex-grow-1" id="neighbors" name="neighbors" [(ngModel)]="model.neighbors">
        </div>
        <div class="form-group">
          <button class="btn btn-secondary dropdown-toggle mr-2" type="button" id="sources" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
            Sources
          </button>
          <select multiple class="form-control dropdown-menu" name="sources"
            (click)="$event.stopPropagation()"
            [(ngModel)]="model.sources">
            <option *ngFor="let src of sources" [value]="src.id">{{src.name}}</option>
          </select>
          </div>
        <button type="submit" class="btn btn-primary" [disabled]="!canSubmit()">View selected genes</button>
      </form>
      <div class="row">
        {{ (resultGenes|async).length }} gene<ng-container *ngIf="(resultGenes|async).length != 1">s</ng-container> returned
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Gene Name</th>
              <th scope="col">Source</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gene of resultGenes|async">
              <td>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="toggleGene($event, gene.name, gene.source)">
                </div>
              </td>
              <td>
                <a [routerLink]="['/gene', geneSourceToRouterGeneMatrix(gene.name, gene.source)]" [queryParams]="{}">{{ gene.name }}</a>
              </td>
              <td>{{ getServerName(gene.source) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        {{ (resultRegions|async).length }} region<ng-container *ngIf="(resultRegions|async).length != 1">s</ng-container> returned
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Focus Gene Name (Neighbors)</th>
              <th scope="col">Source</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let region of resultRegions|async">
              <td>
                <a [routerLink]="['/gene', geneSourceToRouterGeneMatrix(region.gene, region.source)]" [queryParams]="{neighbors: region.neighbors}">{{ region.gene }} ({{ region.neighbors }})</a>
              </td>
              <td>{{ getServerName(region.source) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>
