<right-slider></right-slider>
<main>
  <header>
		<ul class="nav navbar-nav tabs">
      <li><parameters-toggle></parameters-toggle></li>
      <li><help></help></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><legend-toggle></legend-toggle></li>
    </ul>
	</header>
  <main-content>
    <micro-viewer [tracks]="tracks" [args]="microArgs"></micro-viewer>
  </main-content>
  <footer>
    <app-regexp></app-regexp>
  </footer>
</main>
<left-slider>
  <basic-params [queryGenes]="queryGenes"></basic-params>
</left-slider>
