<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a *ngIf="brand !== undefined" class="navbar-brand" href="{{brand.url}}">
    <img src="{{brand.img}}" alt="" (mouseenter)="toggleBrand()" (mouseleave)="toggleBrand()">
    <span>{{brand.name}} <small>{{brand.slogan}}</small></span>
  </a>
  <div class="collapse navbar-collapse">
    <ng-content select="[left]"></ng-content>
    <div class="flex-grow-1 flex-fill">
      <div class="navbar-right">
        <ng-content select="[right]"></ng-content>
      </div>
      <div class="flex-grow-1 flex-fill">
        <ng-content select="[center]"></ng-content>
      </div>
    </div>
  </div>
</nav>
