.navbar-brand img {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
}
.navbar-brand span {
  line-height: 14px;
  display: inline-block;
}
.navbar-brand small {
  display: block;
  font-size: 10px;
}
.wrapper {
  margin-left: 15px;
}
.navbar-right {
  float: right;
}
