<!-- left slider -->
<div id="left-slider" class="col-md-3">
  <!-- close slider controls -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a>
            <span class="glyphicon glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
          </a></li>
        </ul>
      </div>
    </div>
  </nav>
	<!-- scrollable content -->
	<div id="left-slider-content" [ngSwitch]="content">
    <div *ngSwitchDefault><ng-content></ng-content></div>
    <div *ngSwitchCase="family-detail"><family-detail></family-detail></div>
    <div *ngSwitchCase="gene-detail"><gene-detail></gene-detail></div>
    <div *ngSwitchCase="track-detail"><track-detail></track-detail></div>
	</div>
</div>
