#legend-wrapper {
  overflow: hidden;
}
/* add y scrolling to div with dynamical height: http://www.roelvanlisdonk.nl/?p=3854 */
#legend-wrapper .vertical-scroll {
  position: relative;
  height: 100%
}
#legend-wrapper .vertical-scroll #legend {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
}
