<!-- context viewer legend -->
<div id="legend-wrapper">
  <div class=vertical-scroll>
    <div id="legend">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span></button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Got it"><span aria-hidden="true"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span></span></button>
        <h4>Gene Family Legend</h4>
        <ul>
          <li>Hover to highlight family's members.</li>
          <li>Click to list members and link to gene tree.</li>
        </ul>
      </div>
      <div id="legend-content">legend</div>
    </div>
  </div>
</div>
