#right-slider {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
  border-left: #E7E7E7 solid 1px;
  display: table;
}
#right-slider .navbar {
  border-top: #E7E7E7 solid 1px;
}
#right-slider #plot {
  display: table-row;
  width: 100%;
}
/* maintain plot ratio: http://stackoverflow.com/questions/17195656/in-fluid-container-can-i-make-elements-as-tall-as-they-are-wide */
#right-slider #plot .outer-ratio {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}
#right-slider #plot .out .inner-ratio {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
