.navbar-brand img {
  width: 30px;
  height: 30px;
}
.navbar-brand span,
.navbar-brand div {
  margin-left: 0.3125rem;
}
.navbar-brand div {
  display: inline-block;
  height: 30px;
  font-size: 1rem;
  line-height: 1rem;
}
.navbar-brand div small {
  display: block;
  font-size: .75rem;
  line-height: .75rem;
}
.navbar-right {
  float: right;
}
