<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a *ngIf="brand !== undefined" class="navbar-brand" href="{{brand.url}}" (mouseenter)="toggleBrand()" (mouseleave)="toggleBrand()">
      <img src="{{brand.img}}" class="d-inline-block align-text-top" alt="">
    </a>
    <a class="navbar-brand brand-name" href="{{brand.url}}">
      <ng-template [ngIf]="brand.slogan === undefined">
        {{brand.name}}
      </ng-template>
      <ng-template [ngIf]="brand.slogan !== undefined">
        <span>{{brand.name}}</span>
        <small>{{brand.slogan}}</small>
      </ng-template>
    </a>
    <div class="collapse navbar-collapse">
      <router-outlet name="header-left"></router-outlet>
      <ng-content select="[left]"></ng-content>
      <div class="flex-grow-1 flex-fill">
        <div class="navbar-right">
          <gcv-expand-search-widget></gcv-expand-search-widget>
        </div>
        <div class="navbar-right">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Help
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/instructions']" target="_blank">Instructions</a>
                <a class="dropdown-item" href="https://github.com/legumeinfo/lis_context_viewer/wiki" target="_blank">Documentation</a>
                <a class="dropdown-item" href="https://doi.org/10.1093/bioinformatics/btx757" target="_blank">Manuscript</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://github.com/legumeinfo/lis_context_viewer/issues" target="_blank">Contact developers</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="navbar-right">
          <router-outlet name="header-right"></router-outlet>
          <ng-content select="[right]"></ng-content>
        </div>
        <div class="flex-grow-1 flex-fill">
          <router-outlet name="header-center"></router-outlet>
          <ng-content select="[center]"></ng-content>
        </div>
      </div>
    </div>
  </div>
</nav>
