.navbar-brand img {
  width: 30px;
  height: 30px;
}
.navbar-brand.brand-name span {
  display: block;
  font-size: 20px;
  line-height: 1em;
}
.navbar-brand.brand-name small {
  display: block;
  font-size: 10px;
  line-height: 1em;
}
.navbar-right {
  float: right;
}
